.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;

    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(204, 39, 28);
        color: white;
        cursor: pointer;
    }

    &:active{
        transform: scale(1.1);
    }
}